<!-- home.component.html -->

<div class="register">
  <div class="background-image"><img src="https://i.ibb.co/RPRhkpr/bg-easy.jpg" alt="Background photo"></div>
  <div class="header">
    <div class="menu">
      <div class="logo" (click)="returnHome()">
        <img src="https://i.ibb.co/2nLqX0c/logo-easy.png" alt="EasyRent Logo">
      </div>
      <div class="menu-items">
        <div class="menu-item" (click)="redirectToMarket()">Szukaj mieszkań</div>
        <div class="menu-item" (click)="returnHome()">Informacje</div>
        <div class="menu-item" (click)="redirectToLogin()">Logowanie</div>
      </div>
      <div class="user-icon"></div>
    </div>
  </div>


  <div class="container">
    <form [formGroup]="registerForm" (ngSubmit)="submitDetails()">
      <div class="form-header">
        <h2>REJESTRACJA</h2>
      </div>
<!-- name -->
      <div class="form-group">
        <input type="text" id="name" formControlName="name" name="name" placeholder="Name" required/>
        <small *ngIf="name.invalid && (name.dirty || name.touched)" class="block p-error">
          <div *ngIf="name.errors?.['required']">Name is required.</div>
          <div *ngIf="name.errors?.['pattern']">Enter a valid name.</div>
        </small>
      </div>
<!-- surname -->
      <div class="form-group">
        <input type="text" id="lastname" formControlName="lastname" name="lastname" placeholder="Surname" required/>
        <small *ngIf="lastname.invalid && (lastname.dirty || lastname.touched)" class="block p-error">
          <div *ngIf="lastname.errors?.['required']">Surname is required.</div>
          <div *ngIf="lastname.errors?.['pattern']">Enter a valid surname</div>
        </small>
      </div>
<!-- email -->
      <div class="form-group">
        <input type="username" id="username" formControlName="username" name="username" placeholder="Email" required>
        <small *ngIf="username.invalid && (username.dirty || username.touched)"class="block p-error">
            <div *ngIf="username.errors?.['required']">Email jest wymagany.</div>
            <div *ngIf="username.errors?.['username']">Wprowadź prawidłowy email.</div>
        </small>
      </div>
<!-- role -->
<!-- password -->
      <div class="form-group">
        <input type="password" id="password" formControlName="password" name="password" placeholder="Password" required>
        <small *ngIf="password.invalid && (password.dirty || password.touched)" class="block p-error">
            <div *ngIf="password.errors?.['required']">Password is required.</div>
        </small>
      </div>
<!-- confirmPassword -->
      <div class="form-group">
        <input type="password" id="confirmPassword" formControlName="confirmPassword" name="confirmPassword" placeholder="Confirm password" required>
        <small *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)" class="block p-error">
          <div *ngIf="confirmPassword.errors?.['required']">Confirm the password</div>
        </small>
        <small class="block p-error" *ngIf="registerForm.errors?.['passwordMismatch'] && confirmPassword.valid && password.valid">
          Password should match
        </small>
      </div>

      <div class="form-group">
        <button type="submit">Zarejestruj się</button>
      </div>

        <div class="login-info">
        Masz już konto? <a (click)="redirectToLogin()">Zaloguj się</a>
      </div>
    </form>
  </div>
</div>
