<!-- market-search.component.html -->

<div class="market-search">
  <app-menu></app-menu>
  
    <div class="container">
        <div class="content">
            <div class="filters div-with-right-border">
              <div class="filters-body custom-scrollbar">
              <h1>Sortuj</h1>
              <select name="sort" id="sort" class="filter-input" [(ngModel)]="sortOrder" (change)="applySorting()">
                  <option value="price-ASC">Cena rosnąco</option>
                  <option value="price-DESC">Cena malejąco</option>
              </select>
              <h1>Filtruj</h1>
              <form (submit)="applyFilters()">
                <div class="filter-section">
                    <span class="filter-header div-with-bottom-border">Cena</span>
                    <span class="filter-text">Od</span>
                    <input type="number" [(ngModel)]="filters.priceFrom" name="price-from" class="filter-input" />
                    <span class="filter-text">Do</span>
                    <input type="number" [(ngModel)]="filters.priceTo" name="price-to" class="filter-input" />
                </div>
                <div class="filter-section">
                    <span class="filter-header div-with-bottom-border">Powierzchnia</span>
                    <span class="filter-text">Od</span>
                    <input type="number" [(ngModel)]="filters.areaFrom" name="area-from" class="filter-input" />
                    <span class="filter-text">Do</span>
                    <input type="number" [(ngModel)]="filters.areaTo" name="area-to" class="filter-input" />
                </div>
                <button type="button" class="button-apply-filters" (click)="applyFilters()">Apply Filters</button>
              </form>            
            </div>
          </div>
          <div class="results-area custom-scrollbar">
            <div *ngFor="let property of properties" class="result div-with-bottom-border">
              <div class="result-photo-container">
                <img *ngIf="property.photos && property.photos.length > 0" 
                     [src]="property.photos[0].photo" 
                     alt="Property Photo"
                     class="result-photo">
              </div>
              <div class="flex-item result-details">
                <h2>Mieszkanie - {{ property.streetName }}</h2>
                <span>Koszt najmu: {{ property.rentAmount }} PLN/msc</span>
                <span>Media: {{ property.utilityCost }} PLN/msc</span>
                <span>Kaucja: {{ property.deposit }} PLN</span>
                <span>Adres: {{ property.address }}</span>
              </div>
              <div class="flex-item result-summary">
                <h3>Łącznie: {{ property.getFullCost() }} PLN</h3>
              </div>
            </div>
          </div>
          
          
          </div>
        </div>
    </div>
  