/* home.component.css */
.home {
    margin: 0;
    width: 100vw;
  }
  
  
  .header {
    position: fixed;
    width: 100%;
    z-index: 1;
  }
  
.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #365B6D;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: #fff;
  height: 80px;
}

  .logo, .user-icon {
    width: 25%;
    height: 80px;
    display: grid;
    place-items: center; /* Wysrodkowanie w obu kierunkach */
}

  .logo {
    font-size: 24px;
    letter-spacing: 2px;
    cursor: pointer;
  }
  
  .menu-items {
    display: flex;
    width: 50%;
    height: 80px;
    justify-content: center; /* Wysrodkowanie w poziomie */
    align-items: center; /* Wysrodkowanie w pionie */

  }
  
  .menu-item {
    display: flex;
    justify-content: center; /* Wysrodkowanie w poziomie */
    align-items: center; /* Wysrodkowanie w pionie */
    cursor: pointer;
    padding: 0px 30px;
    height: 80px;
  }
  .menu-item:hover {
    background-color: #1a4144;
}

  
  .user-icon {
    font-size: 30px;
    cursor: pointer;
  }
  
  .container {
    background: rgb(247,247,247);
    background: linear-gradient(180deg, rgba(247,247,247,1) 0%, rgba(241,241,244,1) 7%, rgba(109,152,174,1) 52%, rgba(64,122,151,1) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding-top: 90px; /* Wysokość menu */
  }
  
  .content {
    display: flex;
    text-align: center;
     /* Wysokość ekranu minus wysokość menu */
    width: 70%;
    height: 90%;
    background: rgba(54,91,109,0.88);
  }
  
  .div-with-right-border {
    position: relative; /* Needed for absolute positioning */
    overflow-x: auto; /* Force horizontal scrollbar */
    overflow-y: hidden; /* Hide vertical scrollbar */
}

.div-with-right-border::after {
    position: absolute; /* Position relative to the div */
    top: 5%;
    right: 0;
    width: 2px; /* Width of the border */
    height: 90%; /* Height of the border, adjust as needed */
    background-color: #000; /* Color of the border */
}


.filters{
  height: 100%;
  width: 25%;
  color: white;
  display: flex;
  padding: 5% 5px;
  flex-direction: column; /* Arrange items vertically */
  align-items: center; /* Center items horizontally */
  text-align: center; /* Center text within each element */
  overflow: auto;

}

.filters-body{
  height: 100%;
  width: 100%;
  
  flex-direction: column; /* Arrange items vertically */
  align-items: center; /* Center items horizontally */
  text-align: center; /* Center text within each element */
  overflow: auto;
}

.results-area{
  display: flex;
  flex-direction: column;
    width: 75%;
    height: calc(100% - 80px);
    margin: 40px 30px;
    overflow: auto;
  
}


.result{
  color: white;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.flex-item{
  flex-grow: 0;
  
}

.result-photo{
  height: 20vh;
  border-radius: 20px;
}

.result-details {
  text-align: left;
  padding-left:10px; /* Align the content within .result-details to the left */
}
.result-details h2,
.result-details span {
  margin: 5px;
  display: block; /* Display each <h3> and <span> element as a block to ensure it appears on a new line */
}

.result-summary{
  height: 100%;
  text-align: left;
  display: flex; /* Use flexbox */
  align-items: flex-end;
  margin-left: auto;
}

.div-with-bottom-border {
  position: relative; /* Needed for absolute positioning */
}

.div-with-bottom-border::after {
  content: ""; /* Required for pseudo-element */
  position: absolute; /* Position relative to the div */
  bottom: 0; /* Position at the bottom */
  left: 0;
  width: 100%; /* Width of the border */
  height: 2px; /* Height of the border, adjust as needed */
  background-color: #000; /* Color of the border */
}

.filter-header{
  font-size: 1.7em;
  display: block;
  margin-top:10px;
}

.filter-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.filter-text{
  display: block;
}

.filter-input{
  width: 80%;
  font-size: 1em;
  border-radius: 20px;
  border: none;
  padding: 10px;
  text-align: center;
}

.filter-section{
  display: flex;
  flex-direction: column;
  gap:10px;
  flex-direction: column; /* Arrange items vertically */
  align-items: center; /* Center items horizontally */
  text-align: center;
}