<!-- home.component.html -->

<div class="home">
  <div class="background-image"><img src="https://i.ibb.co/RPRhkpr/bg-easy.jpg" alt="Background photo" ></div>
  <div class="header">
    <div class="menu">
      <div class="logo" (click)="scrollToTop()">
        <img src="https://i.ibb.co/2nLqX0c/logo-easy.png" alt="EasyRent Logo">
      </div>
      <div class="menu-items">
        <div class="menu-item" (click)="scrollToSection('info')">Szukaj mieszkań</div>
        <div class="menu-item" (click)="scrollToSection('tutorial')">Informacje</div>
        <div class="menu-item" (click)="redirectToLogin()">Logowanie</div>
      </div>
      <div class="user-icon"></div>
    </div>
  </div>

  <div class="container">
    <div class="content" id="start">
      <h1>EasyRent</h1>
      <p>Odkryj wygodę w wynajmie.</p>
      <button (click)="redirectToLogin()">DOŁĄCZ</button>
    </div>

    <div id="tutorial" class="section">
      <h1>JAK ZACZĄĆ?</h1>

      <div class="tutorial_renterr">
        <h2>Wynajmujący</h2>

        <div class="steps-container">
          <div class="step tenant">
            <img src="https://i.ibb.co/K5VdjRh/login.png" alt="Krok 1">
            <p>Załóż darmowe konto w serwisie Easyrent</p>
          </div>
          <div class="step tenant">
            <img src="https://i.ibb.co/Zgwxn71/form.png" alt="Krok 2">
            <p>Dodaj swoje mieszkanie, dodaj zachęcający opis</p>
          </div>
          <div class="step tenant">
            <img src="https://i.ibb.co/Pt5pKFx/generowanie.png" alt="Krok 3">
            <p>Czekaj na kontakt ze strony zainteresowanych wynajmem lub wygeneruj dane logowania dla aktualnych najemców</p>
          </div>
          <div class="step tenant">
            <img src="https://i.ibb.co/c33nKHH/man.png" alt="Krok 4">
            <p>Ciesz się szybkim kontaktem z najemcami w jednym miejscu!</p>
          </div>
        </div>
      </div>

    </div>

    <div id="tutorial" class="section">
      <h1>JAK ZACZĄĆ?</h1>
      <div class="tutorial_renter">
        <h2>Najemca</h2>
        <div class="steps-container">
          <div class="step tenant">
            <img src="https://i.ibb.co/C8dtCPc/bierz-dane.png" alt="Krok 1">
            <p>Znajdź interesującą cię ofertę jako tenant!</p>
          </div>
          <div class="step tenant">
            <img src="https://i.ibb.co/5x1ytpx/haslo.png" alt="Krok 2">
            <p>Skontaktuj się z właścicielem, umów się na obejrzenie mieszkania i podpisz umowę</p>
          </div>
          <div class="step tenant">
            <img src="https://i.ibb.co/Pt5pKFx/generowanie.png" alt="Krok 3">
            <p>Zaloguj się do portalu za pomocą danych podanych przez właściciela</p>
          </div>
          <div class="step tenant">
            <img src="https://i.ibb.co/c33nKHH/man.png" alt="Krok 3">
            <p>Ciesz się wszystkimi informacjami odnośnie mieszkania w jednym miejscu!</p>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
