<div class="container">
  <div class="content flex-column-centered">
    <div class="fill-div">
      <div class="offer-header">
        <div class="flex-row-centered offer-header-image">
          <div class="photo-gallery">
            <div class="photo-gallery">
              <div class="photo-container" *ngFor="let photo of photos; let i = index">
                <img [src]="photo" alt="Photo {{i + 1}}">
                <button class="remove-button" (click)="removePhoto(i)">Remove</button>
              </div>
              <div class="add-photo">
                <input type="file" (change)="onFileSelected($event)" id="fileInput">
                <button (click)="triggerFileInput()">+</button>
              </div>
            </div>
          </div>

        </div>
        <div class="offer-header-details flex-column-centered">
          <input class="offer-input input-medium" value={{property.name}} name="property-name" id="property-name" />
          <div class="flex-row-centered gaped-flex">
            <label for="property-street">Adres: </label>
            <input class="offer-input input-medium" value={{property.streetName}} name="property-street"
              id="property-street" />
            <input class="offer-input input-small" value={{property.buildingNo}} name="property-buildingNo"
              id="property-buildingNo" />
          </div>
        </div>
      </div>
      <div class="icon-details-section flex-row-centered">
        <div class="input-with-icon flex-row-centered">
          <img class='input-with-icon-icon' src="assets/icons/properties/surface.svg" />
          <input class="offer-input input-medium" value=" " name="property-area" id="property-area" />
        </div>
        <div class="input-with-icon flex-row-centered">
          <img class='input-with-icon-icon' src="assets/icons/properties/rooms.svg" />
          <div class="number-input">
            <button (click)="decrement()" class="decrement">-</button>
            <input [(ngModel)]="value" class="number-field" />
            <button (click)="increment()" class="increment">+</button>
          </div>
        </div>
        <div class="input-with-icon flex-row-centered">
          <img class='input-with-icon-icon' src="assets/icons/properties/animal.svg" />
          <div class="checkbox-container">
            <input type="checkbox" id="checkbox" class="checkbox">
            <label for="checkbox" class="checkbox-label"></label>
          </div>
        </div>
      </div>
      <div>
        <div class="section-header div-with-bottom-border">
          Opis
        </div>
        <textarea class="offer-input">
            {{property.description}}
          </textarea>
        <div class="section-header div-with-bottom-border">
          Tagi
        </div>
        <div class="tag-section">
          <div *ngFor="let tag of selectedTags" class="tag">
            {{ tag }}
          </div>
          <div class="tag add-tag" (click)="toggleTagList()">
            Dodaj tag
          </div>
          <div *ngIf="showTagList" class="tag-list">
            <div *ngFor="let tag of availableTags" class="av-tag" (click)="addTag(tag)">
              {{ tag }}
            </div>
          </div>
        </div>
        <div class="flex-row-centered">
          <div class="contact-button flex-row-centered">
            Zapisz
          </div>
        </div>

        <div class="section-header div-with-bottom-border">
          Mieszkańcy
        </div>
        <div class="renters-section">
          <div *ngFor="let renter of renters" class="renter">
            {{renter.name}}
            <div class="contact-button flex-row-centered" (click)="togglePhonePopup(renter.phone)">
              <img src="assets/icons/phone-icon.svg" class="contact-button-icon" alt="phone">
              Zadzwoń
            </div>
          </div>
          <div class="add-renter" (click)="togglePopup()">
            <img src="assets/icons/Add-renter.svg" alt="add renter" /> Dodaj mieszkańca
          </div>
        </div>


      </div>
    </div>

    <div id="announcement" class="popup big-popup" [ngClass]="{'show': isPopupVisible}">
      <div class="popup-content">
        <span class="close-button" (click)="togglePopup()">&times;</span>
        <div class="flex-column-centered">
          <div class="form-title">Dodaj mieszkańca</div>
          <form class="popup-form flex-column-centered">
            <label for="renter-email-input">Email</label>
            <input id="renter-email-input" name="report-description-input" class="form-input" />
            <label for="renter-password-input">Hasło</label>
            <input id="renter-password-input" name="report-description-input" class="form-input" />
            <button type="submit" class="bill-button">Dodaj</button>
          </form>
        </div>
      </div>
    </div>

    <div id="announcement" class="popup" [ngClass]="{'show': isPhonePopupVisible}">
      <div class="popup-content">
        <span class="close-button" (click)="togglePhonePopup('')">&times;</span>
        <div class="flex-column-centered">
          <div class="form-title">{{phoneNumber}}</div>
        </div>
      </div>
    </div>