<div *ngIf="loading">
  Loading...
</div>

<div class="container">
  <div class="content flex-column-centered">

    <div class="apartment-header">
      <img *ngIf="property && property.photos && property.photos.length > 0" class="apartment-header-image" [src]="property.photos[0]?.photo" alt="Photo"/>

      <div class="apartment-header-details">
        <div class="header-details-title">{{property.streetName}} {{property.address}}</div>
        <!-- <div class="header-details-element">Umowa najmu do: xx.xx.xx</div> -->
      </div>
    </div>

    <div class="apartment-body">
      <div class="owner-area flex-column-centered div-with-right-border">
        <div class="contact-button flex-row-centered" (click)="togglePopup()">
          <img src="assets/icons/Report-black.svg" class="contact-button-icon" alt="email">
          Zgłoś problem
        </div>
        <div class="owner-photo">
          <img src={{owner.image}} alt="Your Image">
        </div>
        <span class="owner-name">{{owner.name}}</span>
        <div class="contact-button flex-row-centered" (click)="togglePhonePopup()">
          <img src="assets/icons/phone-icon.svg" class="contact-button-icon" alt="phone">
          Zadzwoń
        </div>
        <div class="contact-button flex-row-centered" (click)="toggleEmailPopup()">
          <img src="assets/icons/email-icon.svg" class="contact-button-icon" alt="email">
          Napisz
        </div>
      </div>

      <div class="announcement-report-area">
        <div id="announcements">
          <div class="section-header div-with-bottom-border">Ogłoszenia</div>
          <div class="announcements-details custom-scrollbar">
            <div *ngFor="let announcement of announcements" class="single-announcement div-with-bottom-border">
              <div class="single-announcement-details">
                <div class="single-announcement-header">{{announcement.title}}</div>
                <div class="single-announcement-description">{{announcement.description}}</div>
              </div>
            </div>
          </div>
        </div>
  
        <div id="reports">
          <div class="section-header div-with-bottom-border">Zgłoszenia</div>
          <div class="announcements-details custom-scrollbar">
            <div *ngFor="let report of reports" class="single-announcement div-with-bottom-border">
              <div class="single-announcement-details">
                <div class="single-announcement-header">Zgłoszenie nr {{report.id}}</div>
                <div class="single-announcement-description">{{report.description}}</div>
                <div class="report-status">
                  Status: <span class="report-status-div">{{report.status}}</span>
                </div>
                <div class="single-announcement-description"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<div id="report-popup" class="popup big-popup" [ngClass]="{'show': isPopupVisible}">
  <div class="popup-content">
    <span class="close-button" (click)="togglePopup()">&times;</span>
    <div class="flex-column-fully-centered">
      <div class="form-title">Zgłoś usterkę</div>
      <form class="popup-form flex-column-centered" (submit)="addReport()">
        <label for="report-description-input">Opis usterki</label>
        <textarea [(ngModel)]="reportDescription" id="report-description-input" name="report-description-input" class="form-input"></textarea>
        <button type="submit" class="bill-button">Zgłoś</button>
      </form>
    </div>
  </div>
</div>

<div id="phone-popup" class="popup" [ngClass]="{'show': isPhonePopupVisible}">
  <div class="popup-content">
    <span class="close-button" (click)="togglePhonePopup()">&times;</span>
    <div class="flex-column-centered">
      <div class="form-title">{{owner.phone}}</div>
    </div>
  </div>
</div>

<div id="email-popup" class="popup" [ngClass]="{'show': isEmailPopupVisible}">
  <div class="popup-content">
    <span class="close-button" (click)="toggleEmailPopup()">&times;</span>
    <div class="flex-column-centered">
      <div class="form-title">{{owner.email}}</div>
    </div>
  </div>
</div>