/* market-offer.component.css */

  
.header {
    position: fixed;
    width: 100%;
    z-index: 1;
}
  
.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #365B6D;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: #fff;
  height: 80px;
}

.logo, .user-icon {
  width: 25%;
  height: 80px;
  display: grid;
  place-items: center; /* Wysrodkowanie w obu kierunkach */
}

.logo {
  font-size: 24px;
  letter-spacing: 2px;
  cursor: pointer;
}
.logo img {
  /* Adjust as necessary to fit your logo */
  height: 80px; /* Example height, adjust as needed */
  width: auto;
}
  
.menu-items {
  display: flex;
  width: 50%;
  height: 80px;
  justify-content: center; /* Wysrodkowanie w poziomie */
  align-items: center; /* Wysrodkowanie w pionie */
}
  
.menu-item {
  display: flex;
  justify-content: center; /* Wysrodkowanie w poziomie */
  align-items: center; /* Wysrodkowanie w pionie */
  cursor: pointer;
  padding: 0px 30px;
  height: 80px;
}

.menu-item:hover {
  background-color: #1a4144;
}

.user-icon {
  font-size: 30px;
  cursor: pointer;
}
  
.container {
  background: rgb(247,247,247);
  background: linear-gradient(180deg, rgba(247,247,247,1) 0%, rgba(241,241,244,1) 7%, rgba(109,152,174,1) 52%, rgba(64,122,151,1) 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding-top: 77px; /* Wysokość menu */
}
  
.content {
  display: flex;
  text-align: center;
  /* Wysokość ekranu minus wysokość menu */
  width: 70%;
  height: 90%;
  background: rgba(54,91,109,0.88);
  padding: 30px 50px;
  color: white;
}
  
.div-with-right-border {
    position: relative; /* Needed for absolute positioning */
}

.div-with-right-border::after {
    content: ""; /* Required for pseudo-element */
    position: absolute; /* Position relative to the div */
    top: 5%;
    right: 0;
    width: 2px; /* Width of the border */
    height: 90%; /* Height of the border, adjust as needed */
    background-color: #000; /* Color of the border */
}


.div-with-bottom-border {
  position: relative; /* Needed for absolute positioning */
}

.div-with-bottom-border::after {
  content: ""; /* Required for pseudo-element */
  position: absolute; /* Position relative to the div */
  bottom: 0; /* Position at the bottom */
  left: 5%;
  width: 90%; /* Width of the border */
  height: 2px; /* Height of the border, adjust as needed */
  background-color: #000; /* Color of the border */
}

.flex-row-centered{
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-column-centered{
  display: flex;
  align-items: center;

  flex-direction: column;
}




.contact-button{
  padding: 10px;
  border-radius: 18px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  background-color: rgba(78, 176, 197, 0.83);
  width: 80%;
  font-size: 1.6em;
  color: black;
  font-weight: bold;
  gap: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contact-button-icon{
  height: 70%;
}

.contact-button:hover{
  background-color: rgba(52, 123, 139, 0.83);
}

.user-profile-data{
  width: 100%;
  margin: 20px 30px;
  
}

.profile-photo {
  width: 30%; /* Set width for the circular container */
  height: 0; /* Set initial height to 0 */
  padding-top: 30%; /* Maintain aspect ratio (height = width) */
  border-radius: 50%; /* Make the container circular */
  overflow: hidden;
  position: relative; /* Ensure proper positioning for the image */
}

.profile-photo img {
  position: absolute; /* Position the image relative to its container */
  top: 0;
  left: 0;
  width: 100%; /* Make the image fill the container */
  height: 100%; /* Ensure the image maintains aspect ratio */
  object-fit: cover; /* Ensure the image covers the entire container */
}

.overlay-text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 0 0 50% 50%; /* Create the half-circle effect */
  visibility: hidden; /* Initially hidden but still takes up space */
  color: white;
  text-align: center; /* Center text horizontally */
  font-size: 1.3em;
  padding-top: 10px;
  transition: opacity 0.3s ease, visibility 0.3s ease; /* Include visibility in the transition */
  opacity: 0;
  cursor: pointer;
  text-decoration: underline;
}

.profile-photo:hover .overlay-text {
  visibility: visible; /* Show the overlay on hover */
  opacity: 1; /* Fade in */
}

.user-profile-data-form{
  flex-grow: 1;
  font-size: 1.3em;
  gap:5px;
}

.user-profile-input{
  background-color: F7F7F7;
  border-radius: 30px;
  border: none;
  width: 40%;
  font-size: 1em;
  height: 1.8em;
  padding: 0 10px;
  text-align: center;
}

.user-profile-data-form > .contact-button{
  margin-top:20px;
  width: 30%;
  font-size: 1em;
}

button{
  border:none;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
  z-index: 100;
  background-color: white;
  display: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

.popup.show {
  display: block;
}

.popup-content {
  position: relative;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
}

.close-button:hover {
  color: red;
}

.form-title{
  font-size: 2em;
  font-weight: 500;
  width: 100%;
  margin-top: 30px;
  text-align: center;
}

.popup-form{
  font-size: 1.5em;
  flex-grow: 1;
  gap: 10px;
}

textarea{
  width: 90%;
  height: 90%;
}

.bill-button{
  height: 1.7em;
  font-size: 1.1em;
  padding: auto 10px;
  border: 2px solid black;
  border-radius: 20px;
}

.big-popup{
  height: 50vh;
  width: 50vw;
}