<div class="user-profile">
  <app-menu></app-menu>

  <div class="container">
    <div class="content flex-column-centered">
      <div class="user-profile-data flex-row-centered">
        <div class="profile-photo">
          <img
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/52/Boston_Tea_Party_Currier_colored.jpg/800px-Boston_Tea_Party_Currier_colored.jpg"
            alt="Your Image">
          <div class="overlay-text">Zmień zdjęcie profilowe</div>
        </div>
        <form class="user-profile-data-form flex-column-centered">
          <label for="imie">Imię</label>
          <input type="text" id="imie" name="first_name" [value]="user?.name" class="user-profile-input">

          <label for="nazwisko">Nazwisko</label>
          <input type="text" id="nazwisko" name="last_name" [value]="user?.lastname" class="user-profile-input">

          <label for="email">Email</label>
          <input type="email" id="email" name="email" [value]="user?.email" class="user-profile-input">
          <button class="contact-button" type="submit">Zmień dane</button>
          <button type="button" class="contact-button flex-row-centered" (click)="togglePopup()">
            <img src="assets/icons/edit-icon.svg" class="contact-button-icon" alt="email">
            Zmień hasło</button>
        </form>
      </div>
    </div>
  </div>
</div>

<div id="change-password-popup" class="popup big-popup" [ngClass]="{'show': isPopupVisible}">
  <div class="popup-content">
    <span class="close-button" (click)="togglePopup()">&times;</span>
    <div class="flex-column-fully-centered">
      <div class="form-title">Zmiana hasła</div>
      <form class="popup-form flex-column-centered">
        <label for="password-input">Stare hasło</label>
        <input type="password" [(ngModel)]="currentPassword" id="password-input" name="password-input"
          class="form-input" />
        <label for="new-password-input">Stare hasło</label>
        <input type="password" [(ngModel)]="newPassword" id="new-password-input" name="password-input"
          class="form-input" />
        <button type="submit" class="bill-button" (click)="changePassword()">Zmień</button>
      </form>
    </div>
  </div>
</div>