/* market-offer.component.css */

  
.header {
    position: fixed;
    width: 100%;
    z-index: 1;
}
  
.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #365B6D;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: #fff;
  height: 80px;
}

.logo, .user-icon {
  width: 25%;
  height: 80px;
  display: grid;
  place-items: center; /* Wysrodkowanie w obu kierunkach */
}

.logo {
  font-size: 24px;
  letter-spacing: 2px;
  cursor: pointer;
}
.logo img {
  /* Adjust as necessary to fit your logo */
  height: 80px; /* Example height, adjust as needed */
  width: auto;
}
  
.menu-items {
  display: flex;
  width: 50%;
  height: 80px;
  justify-content: center; /* Wysrodkowanie w poziomie */
  align-items: center; /* Wysrodkowanie w pionie */
}
  
.menu-item {
  display: flex;
  justify-content: center; /* Wysrodkowanie w poziomie */
  align-items: center; /* Wysrodkowanie w pionie */
  cursor: pointer;
  padding: 0px 30px;
  height: 80px;
}

.menu-item:hover {
  background-color: #1a4144;
}

.user-icon {
  font-size: 30px;
  cursor: pointer;
}
  
.container {
  background: rgb(247,247,247);
  background: linear-gradient(180deg, rgba(247,247,247,1) 0%, rgba(241,241,244,1) 7%, rgba(109,152,174,1) 52%, rgba(64,122,151,1) 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding-top: 8vh; /* Wysokość menu */
}
  
.content {
  display: flex;
  text-align: center;
  /* Wysokość ekranu minus wysokość menu */
  width: 70%;
  height: 90%;
  background: rgba(54,91,109,0.88);
  padding: 30px 40px;
  color: white;
}
  
.div-with-right-border {
    position: relative; /* Needed for absolute positioning */
}

.div-with-right-border::after {
    content: ""; /* Required for pseudo-element */
    position: absolute; /* Position relative to the div */
    top: 5%;
    right: 0;
    width: 2px; /* Width of the border */
    height: 90%; /* Height of the border, adjust as needed */
    background-color: #000; /* Color of the border */
}


.div-with-bottom-border {
  position: relative; /* Needed for absolute positioning */
}

.div-with-bottom-border::after {
  content: ""; /* Required for pseudo-element */
  position: absolute; /* Position relative to the div */
  bottom: 0; /* Position at the bottom */
  left: 5%;
  width: 90%; /* Width of the border */
  height: 2px; /* Height of the border, adjust as needed */
  background-color: #000; /* Color of the border */
}

.flex-row-centered{
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-column-centered{
  display: flex;
  align-items: center;

  flex-direction: column;
}


.offer-header{
  display: flex;
  height: 40%;
  width: 100%;
}

.offer-header-details,
.offer-header-images{
  padding: 40px 0;
}

.offer-header-images{
  width: 40%;
  height: 100%;
}

.offer-header-details{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding-left: 10px;

}

.offer-header-images-slider{
  border-radius: 15px;
  width: 100%;
}

.offer-header-details span {
  margin: 5px;
  display: block; /* Display each <h3> and <span> element as a block to ensure it appears on a new line */
  align-self: flex-start;
}

.header-details-element{
  font-size: 1.4em;
}

.cost-span{
  font-weight: bolder;
  font-size: 1.6em;
}

.header-details-title{
  font-weight: bolder;
  font-size: 2em;
}

.offer-body{
  flex-grow: 1;
  display: flex;
  width: 100%;
}

.owner-area{
  width: 30%;
  justify-content: center;
  gap: 30px;
}

.owner-photo{
  width: 150px; /* Set width and height for the circular container */
  height: 150px;
  border-radius: 50%; /* Make the container circular */
  overflow: hidden;
}

.owner-photo img{
  width: 100%; /* Make the image fill the container */
  height: 100%;
  object-fit: cover; /* Ensure the image covers the entire container */
}

.owner-name{
  font-size: 2em;
}

.offer-details{
  width: 70%;

}

.offer-properties{
  height: 20%;
  width: 100%;
}

.description-title{
  width: 100%;
  font-size: 2.4em;
  text-align: left;
  padding: 0 5%;
}

.description-text{
  padding: 10px 5%;
  font-size: 1.3em;
  text-align: left;
}

.contact-button{
  padding: 10px;
  border-radius: 18px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  background-color: rgba(78, 176, 197, 0.83);
  width: 80%;
  font-size: 1.6em;
  color: black;
  font-weight: bold;
  gap: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contact-button-icon{
  height: 70%;
}

.contact-button:hover{
  background-color: rgba(52, 123, 139, 0.83);
}

.offer-property-icon{
  width: 25%;
}