/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";

html,
body {
  height: 100%;
  margin: 0;
  font-family: "Nunito Sans", sans-serif;
}
.flex-row-centered{
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-column-centered{
  display: flex;
  align-items: center;

  flex-direction: column;
}

.flex-column-fully-centered{
  display: flex;
  align-items: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}
/*divs with right border: 10% smaller than div, centered*/

.div-with-right-border {
  position: relative; /* Needed for absolute positioning */
}

.div-with-right-border::after {
  content: ""; /* Required for pseudo-element */
  position: absolute; /* Position relative to the div */
  top: 5%;
  right: 0;
  width: 2px; /* Width of the border */
  height: 90%; /* Height of the border, adjust as needed */
  background-color: #000; /* Color of the border */
}

/*divs with bottop border: 10% smaller than div, centered*/

.div-with-bottom-border {
position: relative; /* Needed for absolute positioning */
}

.div-with-bottom-border::after {
content: ""; /* Required for pseudo-element */
position: absolute; /* Position relative to the div */
bottom: 0; /* Position at the bottom */
left: 5%;
width: 90%; /* Width of the border */
height: 2px; /* Height of the border, adjust as needed */
background-color: #000; /* Color of the border */
}

/*custom scrollbars for sections*/

.custom-scrollbar::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: rgba(200,200,200, 0.15);
}

.custom-scrollbar::-webkit-scrollbar
{
	width: 12px;
	background-color: rgba(200,200,200, 0.15);
}

.custom-scrollbar::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #3b3b3b;
}

.contact-button{
  padding: 10px;
  border-radius: 18px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  background-color: rgba(78, 176, 197, 0.83);
  width: 80%;
  font-size: calc(4px + 1.2vw);
  color: black;
  font-weight: bold;
  gap: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contact-button-icon{
  height: 70%;
}

.contact-button:hover{
  background-color: rgba(52, 123, 139, 0.83);
}

.popup-form input{
  font-size: 1.5em;
  border-radius: 20px;
  padding: 2px 20px;
}


.popup-content{
  height: 100%;
  margin-bottom: 20px;
  
}

.big-popup{
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  width: 40vw;
}